#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff; /* Optional background */
}

.loader-gif {
  width: 300px; /* Adjust the size of the GIF */
  height: auto;
}

@media (max-width: 768px) {
  .loader-gif {
    width: 200px; /* Adjust the size of the GIF */
    height: auto;
  }
}

@media (max-width: 576px) {
  .loader-gif {
    width: 150px; /* Adjust the size of the GIF */
    height: auto;
  }
}